*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background: rgb(255, 152, 100);
}
.countainer{
   height: 100%;
}
img{
    position: relative;
    margin-top: 30px;
}
.box .num{
    position: absolute;
}
.box .num:nth-child(1){
    top: 140px;
    left: 340px;
    z-index: 100;
}
.box1 .btn{
    position: absolute;
}
.box1 .btn:nth-child(1){
    top: 390px;
    left: 220px;
    z-index: 100;
}
.box1 .btn:nth-child(2){
    top: 300px;
    left: 336px;
    z-index: 100;
}
button{
    /* border-radius: 40%; */
    background: transparent;    
    outline: none;
    border: none;
    border: none;
    cursor: pointer;
}